.custom-md {
    font-family: 'Lora', 'Georgia', serif;
    h1 {
        @apply text-3xl;
    }

    h1, h2, h3, h4, h5, h6 {
        .anchor {
            @apply transition -m-0.5 ml-[0.2ch] p-0.5 select-none opacity-0 no-underline !important;

            .anchor-icon {
                @apply mx-[0.45ch] !important;
            }
        }

        &:hover {
            .anchor {
                @apply opacity-100 !important;
            }
        }
    }

    a:not(.no-styling) {
        @apply relative bg-none link font-medium text-[var(--primary)] no-underline;
        
        /* Expandable underline effect */
        &::after {
            content: '';
            @apply absolute left-0 bottom-0 w-full h-[2px] bg-[var(--primary)] scale-x-0 origin-center transition-transform duration-300 ease-out;
        }

        &:hover::after, &:active::after {
            @apply scale-x-100;
        }
    }

    code {
        @apply bg-[var(--inline-code-bg)] text-[var(--inline-code-color)] px-1 py-0.5 rounded-md overflow-hidden;

        font-family: 'JetBrains Mono Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        &:before {
            content:none;
        }
        &:after {
            content:none;
        }

        counter-reset: line;
        span.line {
            &:before {
                @apply text-white/25 mr-4 w-4 inline-block;
                content: counter(line);
                counter-increment: line;
                direction: rtl;
            }
            &:last-child:empty, &:last-child:has(> span:empty:only-child) {
                display: none;
            }
        }
    }

    pre {
        @apply bg-[var(--codeblock-bg)] !important;
        @apply rounded-xl px-5 pt-12 pb-5 relative;

        /* Mac OS style window controls */
        &::before {
            content: '';
            @apply absolute top-4 left-4 w-3 h-3 rounded-full bg-[#FF5F56] shadow-[1.25rem_0_0_#FFBD2E,2.5rem_0_0_#27C93F] z-10;
        }

        code {
            @apply bg-transparent text-inherit text-sm p-0;

            ::selection {
                @apply bg-[var(--codeblock-selection)];
            }
        }
    }

    ul, ol {
        li::marker {
            @apply text-[var(--primary)];
        }
    }

    blockquote {
        @apply not-italic relative rounded-r-lg bg-[var(--primary)]/5 dark:bg-[var(--primary)]/10 py-3 pr-4 pl-5;
        font-weight: inherit;

        &:before {
            @apply content-[''] absolute left-0 top-0 block transition bg-[var(--primary)] h-full w-[4px] rounded-l-lg;
        }

        /* Remove the double quotes from default styles */
        p:before, p:after {
            @apply content-none;
        }

    }
}
