.scrollbar-base.os-scrollbar {
    @apply transition-all;
    pointer-events: unset;

    &.os-scrollbar-horizontal {
        @apply py-1 px-2 h-4;
        .os-scrollbar-track .os-scrollbar-handle {
            @apply rounded-full h-1;
        }
        &:hover .os-scrollbar-track .os-scrollbar-handle {
            @apply h-2;
        }
    }

    &.os-scrollbar-vertical {
        @apply px-1 py-1 w-4;
        .os-scrollbar-track .os-scrollbar-handle {
            @apply rounded-full w-1;
        }
        &:hover .os-scrollbar-track .os-scrollbar-handle {
            @apply w-2;
        }
    }
}

.os-scrollbar {
    &.scrollbar-auto, &.scrollbar-dark, &.scrollbar-light {
        --os-handle-bg: oklch(0.75 0.14 var(--hue) / 0.3);
        --os-handle-bg-hover: oklch(0.75 0.14 var(--hue) / 0.7);
        --os-handle-bg-active: oklch(0.75 0.14 var(--hue) / 1);
    }
}
